page-swipe-tabs {

    .ios, .md {
        
        page-home {
    
            content-drawer {
                background-color: #34495e !important;
            }
    
            content-drawer .content {
                padding: 20px;
            }
    
        }
    
    }
    
    .flex-shade {
        width: 100%;
        // height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        background-color: #e7e7e7;
        z-index: 1000;
        display: flex;
        .flex-item {
            width: 100%;
            .list-md {
                margin-bottom: 4px;
            }
            ion-list-header {
                margin-bottom: 4px;     
            }
        }
    }
    .flex-overlay {
        width: 30%;
        min-width: 250px;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;
        position: fixed;
        background-color: #9cc;
        z-index: 1000;
        display: flex;
        .flex-item {
            width: 100%;
            text-align: center;
            align-self: center;
        }
    }
    .flex-bottom {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        background-color: #9cc;
        z-index: 1000;
        display: flex;
        .flex-item {
            width: 100%;
        }
        ion-list-header {
            margin-bottom: 4px;     
        }    
    }

    .tile-container {
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: space-between;
        // background-color: #34495e;
        width: 100%;
        margin: 0;
        padding: 0;
    }    

    .tile {
        height: 54px;
        max-width: 54px;
        padding: 6px;
        color: #fff;
        justify-content: center; // hori
        align-items: center; // vertical
        display: flex;
        span {
            min-height: 48px;
            min-width: 48px;
            max-width: 48px;
            border: 1px #fff solid;
            background-color: #333;
            text-align: center;
            padding-top: 14px;
        }
    }

    // .tile:last-child {
    //     margin-right: auto;
    // }

    header, footer {
        height: 60px;
        width: 100%;
        z-index: 100;
        background-color: #fff;
        position: fixed;
        left: 0;        
    }
    header {
        top: 0;
    }
    footer {
        bottom: 0;
    }
}