<!-- <ion-header>
  <ion-navbar>
    <ion-segment color="dark" [(ngModel)]="tabs">
      <ion-segment-button (click)="selectTab(0)"
                          value=0>Tab 0
      </ion-segment-button>
      <ion-segment-button (click)="selectTab(1)"
                            value=1>Tab 1
      </ion-segment-button>
      <ion-segment-button (click)="selectTab(2)"
                          value=2>Tab 2
      </ion-segment-button>
      <div id="slide" class="slide"></div>
    </ion-segment>                                               
  </ion-navbar>     
</ion-header> -->
 
<ion-content class="action-sheets-basic-page">

  <ion-slides #pageSlider (ionSlideDidChange)="slideChanged($event)" (swipeup)="toggleBottom()">
    <ion-slide></ion-slide>
    <ion-slide></ion-slide>
    <ion-slide></ion-slide>
  </ion-slides>

  <ion-fab top left>
    <button ion-fab mini color="secondary" (click)="toggleShade()">
        <ion-icon [name]="'arrow-down'" *ngIf="iconShade=='arrow-down'"></ion-icon>
        <ion-icon [name]="'arrow-up'" *ngIf="iconShade=='arrow-up'"></ion-icon>  
    </button>
  </ion-fab>

  <ion-fab bottom left>
    <button ion-fab mini color="danger" (click)="toggleBottom()">
        <ion-icon [name]="'arrow-up'" *ngIf="iconBottom=='arrow-up'"></ion-icon>
        <ion-icon [name]="'arrow-down'" *ngIf="iconBottom=='arrow-down'"></ion-icon>
    </button>
  </ion-fab>  

  <ion-fab class="overlay-btn">
    <!-- <button ion-fab mini color="secondary" (swipe)="swipeLeftOverlayEvent($event)"> -->
    <button ion-fab mini color="primary" (swipeleft)="toggleOverlay()">
      <ion-icon [name]="'arrow-dropleft'" style="position:relative;right:4px"></ion-icon>
      <!-- <ion-icon [name]="'arrow-dropleft'" *ngIf="iconOverlay=='arrow-back'"></ion-icon>
      <ion-icon [name]="'arrow-dropright'" *ngIf="iconOverlay=='arrow-forward'"></ion-icon> -->
    </button>
  </ion-fab>
  <header (swipedown)="toggleShade()"></header>
      
</ion-content>

<div class="shade" [@shadeVisibility]="showShade" (swipeup)="toggleShade()">
  <div class="timestamp" tappable (click)="toggleShade()">
    12:30 PM Tue, October 31
  </div>
  <ul class="shade-header">
    <li class="shade-icon" tappable><img src="../../assets/icon/ic_wifi.png"/></li>
    <li class="shade-icon" tappable><img src="../../assets/icon/ic_location.png"/></li>
    <li class="shade-icon" tappable><img src="../../assets/icon/ic_mute.png"/></li>
    <li class="shade-icon" tappable><img src="../../assets/icon/ic_portrait_lock.png"/></li>
    <li class="shade-icon" tappable><img src="../../assets/icon/ic_airplane_mode.png"/></li>
    <li class="shade-icon" tappable><img src="../../assets/icon/ic_bluetooth.png"/></li>
    <li class="shade-icon" tappable><img src="../../assets/icon/ic_flashlight.png"/></li>
    <li class="shade-icon" tappable><img src="../../assets/icon/ic_data.png"/></li>            
  </ul>

  <ion-scroll scrollY="true">
    <ion-list scroll="true">
      <ion-item *ngFor="let item of items" [@notificationSwipedLeft]="item.showNotification" [@notificationSwipedRight]="item.showNotification" (swipe)="swipeNotification($event,item)">
        <ion-avatar item-end>
          <img src="../../assets/imgs/logo.png"/>
        </ion-avatar>
        <h2>{{ item.name }}</h2>
        <p>Secondary line text</p>
      </ion-item>
    </ion-list>
  </ion-scroll>

</div>  

<div class="flex-bottom" [@bottomVisibility]="showBottom" (swipedown)="toggleBottom()">
  <div class="flex-item">
    <ion-list-header tappable (click)="toggleBottom()">
      Applications
    </ion-list-header>  
    <ion-content>
      <ion-scroll scrollY="true">
        <ul class="tile-container">
          <li class="tile" *ngFor="let app of apps">
            <img [src]="app.imagePath"/>
            <p>{{(app.name.length>9)? (app.name | slice:0:9)+'...':app.name}}</p>
          </li>
        </ul>
      </ion-scroll>
    </ion-content>
  </div>
</div>

<div class="overlay" [@overlayVisibility]="showOverlay">
  <ion-content>
    <ion-list-header (swiperight)="toggleOverlay()">
      <ion-icon item-start small name="settings"></ion-icon>          
      Settings
    </ion-list-header>
    <ion-list no-lines>
      <ion-item>
        <ion-range [(ngModel)]="brightness">
          <ion-icon range-left small name="sunny"></ion-icon>
          <ion-icon range-right name="sunny"></ion-icon>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-range min="0" max="11" pin="true" [(ngModel)]="volume" color="primary">
          <ion-icon range-left name="volume-off"></ion-icon>
          <ion-icon range-right name="volume-up"></ion-icon>
        </ion-range>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="footer" (swiperight)="toggleOverlay()"></div>
</div>  