page-swipe-tabs {
    
    .flex-shade {
        width: 100%;
        // height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        background-color: #e7e7e7;
        z-index: 1000;
        display: flex;
        .flex-item {
            width: 100%;
            .list-md {
                margin-bottom: 4px;
            }
            ion-list-header {
                margin-bottom: 4px;     
            }
        }
    }
    .flex-shade-icon {
        height: 64px;
        width: 25%;
        padding: 32px 28px 12px 28px;
        margin-bottom: 6px;
        color: #fff;
        justify-content: center; // hori
        align-items: center; // vertical
        display: flex;
        opacity: .3;
    }
    .flex-shade-icon:nth-child(n+5) {
        padding: 12px 28px;
        opacity: .3;
    }


    .flex-overlay {
        width: 30%;
        min-width: 250px;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;
        position: fixed;
        background-color: #9cc;
        z-index: 1000;
        display: flex;
        .flex-item {
            width: 100%;
            text-align: center;
            align-self: center;
        }
    }
    .flex-bottom {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        background-color: #9cc;
        z-index: 1000;
        display: flex;
        .flex-item {
            width: 100%;
        }
        ion-list-header {
            margin-bottom: 4px;     
        }    
    }

    .tile-container, .flex-shade-header {
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: space-between;
        // background-color: #34495e;
        width: 100%;
        margin: 0;
        padding: 0;
    }    

    .tile {
        height: 64px;
        max-width: 54px;
        padding: 6px;
        margin-bottom: 6px;
        color: #fff;
        justify-content: center; // hori
        align-items: center; // vertical
        display: flex;
        span {
            height: 64px;
            // min-width: 48px;
            // max-width: 48px;
            // border: 1px #fff solid;
            // background-color: #e7e7e7;
            text-align: center;
            // padding-top: 14px;
        }
        p {
            margin-top: 3px;
            font-size: 10px;
            text-align: center;
            color: #333;
            text-transform: capitalize; 
        }
    }

    header {
        height: 60px;
        width: 100%;
        background-color: #fff;
        position: fixed;
        left: 0;
        opacity: 0;
        top: 0;
        z-index: 100;
    }

    ion-slides {
        background-color: #34495e;
    }
    ion-slide:first-child {
        background: url(../../assets/imgs/img_home_1.png) no-repeat;
        background-size: cover;
    }
    ion-slide:nth-child(2) {
        background: url(../../assets/imgs/img_home_2.png) no-repeat;
        background-size: cover;
    }
    ion-slide:last-child {
        background: url(../../assets/imgs/img_home_3.png) no-repeat;
        background-size: cover;
    }

}