<ion-content class="action-sheets-basic-page">

  <ion-slides #pageSlider (ionSlideDidChange)="slideChanged($event)" (swipeup)="toggleBottom()">
    <ion-slide></ion-slide>
    <ion-slide></ion-slide>
    <ion-slide></ion-slide>
  </ion-slides>

  <ion-fab top left>
    <button ion-fab mini color="secondary" (click)="toggleShade()">
        <ion-icon [name]="'arrow-down'"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab bottom left>
    <button ion-fab mini color="danger" (click)="toggleBottom()">
        <ion-icon [name]="'arrow-up'"></ion-icon>
    </button>
  </ion-fab>  

  <ion-fab class="overlay-btn">
    <button ion-fab mini color="primary" (swipeleft)="toggleOverlay()">
      <ion-icon [name]="'arrow-dropleft'" style="position:relative;right:4px"></ion-icon>
    </button>
  </ion-fab>
  <header (swipedown)="toggleShade()"></header>
      
</ion-content>

<div class="shade" [@shadeVisibility]="showShade" (swipeup)="toggleShade()">
  <div class="timestamp" tappable (click)="toggleShade()">
    12:30 PM Tue, October 31
  </div>
  <ul class="shade-header">
    <li class="shade-icon" tappable><img src="../../assets/icon/ic_wifi.png"/></li>
    <li class="shade-icon" tappable><img src="../../assets/icon/ic_location.png"/></li>
    <li class="shade-icon" tappable><img src="../../assets/icon/ic_mute.png"/></li>
    <li class="shade-icon" tappable><img src="../../assets/icon/ic_portrait_lock.png"/></li>
    <li class="shade-icon" tappable><img src="../../assets/icon/ic_airplane_mode.png"/></li>
    <li class="shade-icon" tappable><img src="../../assets/icon/ic_bluetooth.png"/></li>
    <li class="shade-icon" tappable><img src="../../assets/icon/ic_flashlight.png"/></li>
    <li class="shade-icon" tappable><img src="../../assets/icon/ic_data.png"/></li>            
  </ul>

  <ion-scroll scrollY="true">
    <ion-list scroll="true">
      <ion-item *ngFor="let item of items" [@notificationSwipedLeft]="item.showNotification" [@notificationSwipedRight]="item.showNotification" (swipe)="swipeNotification($event,item)">
        <ion-avatar item-end>
          <img src="../../assets/imgs/logo.png"/>
        </ion-avatar>
        <h2>{{ item.name }}</h2>
        <p>Secondary line text</p>
      </ion-item>
    </ion-list>
  </ion-scroll>

</div>  

<div class="flex-bottom" [@bottomVisibility]="showBottom" (swipedown)="toggleBottom()">
  <div class="flex-item">
    <ion-list-header tappable (click)="toggleBottom()">
      Applications
    </ion-list-header>  
    <ion-content>
      <ion-scroll scrollY="true">
        <ul class="tile-container">
          <li class="tile" *ngFor="let app of apps">
            <img [src]="app.imagePath"/>
            <p>{{(app.name.length>9)? (app.name | slice:0:9)+'...':app.name}}</p>
          </li>
        </ul>
      </ion-scroll>
    </ion-content>
  </div>
</div>

<div class="overlay" [@overlayVisibility]="showOverlay">
  <ion-content>
    <ion-list-header (swiperight)="toggleOverlay()">
      <ion-icon item-start small name="settings"></ion-icon>
      Phone Settings
      <ion-icon item-end small name="create" tappable style="padding-right:10px"></ion-icon>
    </ion-list-header>
    <ion-list no-lines>
      <ion-item>
        <ion-range [(ngModel)]="brightness">
          <ion-icon range-left small name="sunny"></ion-icon>
          <ion-icon range-right name="sunny"></ion-icon>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-range min="0" max="11" pin="true" [(ngModel)]="volume" color="primary">
          <ion-icon range-left name="volume-off"></ion-icon>
          <ion-icon range-right name="volume-up"></ion-icon>
        </ion-range>
      </ion-item>
    </ion-list>
    <ion-list-header (swiperight)="toggleOverlay()">
      <ion-icon item-start small name="stats"></ion-icon>          
      Pulses
      <ion-icon item-end small name="create" tappable style="padding-right:10px"></ion-icon>      
    </ion-list-header>
      
    <p padding style="margin:0">
      <small>Past 4 Weeks</small>
      <span style="float:right;padding-right:10px" tappable><small>more…</small></span>
    </p>      
    <ion-grid>
      <ion-row>
        <ion-col col-auto>
          <div class="default"><ion-icon small name="partly-sunny"></ion-icon></div>
        </ion-col>
        <ion-col>
          <div class="primary">74<sup>&#176;</sup> - 88<sup>&#176;</sup></div>
        </ion-col>
        <ion-col col-auto>
          <div class="primary">89<sup>&#176;</sup></div>
        </ion-col>
        <ion-col>
          <div class="primary">94<sup>&#176;</sup> - 89<sup>&#176;</sup></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-auto>
          <div class="default">
            <ion-icon small name="baseball"></ion-icon>
          </div>
        </ion-col>            
        <ion-col>
          <div class="secondary">n/a</div>
        </ion-col>
        <ion-col>
          <div class="secondary">4 - 1</div>
        </ion-col>
        <ion-col col-auto>
          <div class="secondary">4 - 1</div>
        </ion-col>
        <ion-col>
          <div class="secondary">4 - 5</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-auto>
          <div class="default">
            <ion-icon small name="trending-up"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div class="danger">+0.8%</div>
        </ion-col>
        <ion-col col-auto>
          <div class="danger">-1.3%</div>
        </ion-col>
        <ion-col>
          <div class="danger">+3.7%</div>
        </ion-col>
      </ion-row>      
    </ion-grid>     

    <p padding style="margin:0">
      <small>10/30 - 11/3</small>
      <span style="float:right;padding-right:10px" tappable><small>more…</small></span>
    </p>
    <ion-grid>    
      <ion-row align-items-end>
        <ion-col col-auto>
          <div class="default">
            <ion-icon small name="baseball"></ion-icon><br>#<br>#<br>#
          </div>
        </ion-col>            
        <ion-col>
          <div class="secondary">1 - 5 <br>#<br>#<br>#</div>
        </ion-col>
        <ion-col>
          <div class="secondary">8 - 5 <br>#<br>#</div>
        </ion-col>
        <ion-col>
          <div class="secondary">13 - 12 <br>#</div>
        </ion-col>
        <ion-col>
          <div class="secondary">6 - 1 <br>#<br>#<br>#</div>
        </ion-col>
        <ion-col>
          <div class="secondary">5 - 1 <br>#</div>
        </ion-col>
          
      </ion-row>
    </ion-grid>    
  </ion-content>

  <div class="footer" (swiperight)="toggleOverlay()"></div>
</div>  